@import 'variables';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f3f9;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.page-content {
  max-width: 72rem;
  margin: 0 auto;
  padding: 25px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.list.outline {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.list-line {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: $primary-light-color;
  border-radius: 5px;
  border: solid $primary-border-color;
  border-width: 0 0 2px 0;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: lighten($primary-light-color, 2%);
  }

  .avatar {
    margin: 0 10px;
  }

  &.selected {
    background-color: lighten($primary-light-color, 3%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: $primary-color;
  }
}

.empty-list {
  padding: 10px 25px;
  background-color: #f1caaa;
  border-radius: 10px;
  text-align: center;
}
