<div class="user-inscription">
  <h2>Inscription utilisateur</h2>
  <form class="user-form" [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
    <div class="input-line">
      <mat-form-field class="full-width">
        <mat-label>Prénom</mat-label>
        <input required matInput placeholder="Prénom" formControlName="prenom" />
      </mat-form-field>
    </div>
    <div class="input-line">
      <mat-form-field class="full-width">
        <mat-label>Nom</mat-label>
        <input required matInput placeholder="Nom" formControlName="nom" />
      </mat-form-field>
    </div>
    <div class="input-line">
      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input required matInput placeholder="Login" formControlName="login" />
      </mat-form-field>
    </div>
    <div class="input-line">
      <mat-form-field class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input required matInput placeholder="Mot de passe" formControlName="mot_de_passe" type="password" />
      </mat-form-field>
    </div>
    <div class="input-line">
      <mat-form-field class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="user">User</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" type="submit" [disabled]="!inscriptionForm.valid">S'inscrire</button>
  </form>
</div>
