<div class="book-view page-content">
  <h1 class="page-header">Inscrire un nouvel utilisateur </h1>
  <div class="columns">
    <div class="connexion">
<app-user-inscription></app-user-inscription>
    </div>
  </div>
</div>
