<div class="author-list">
  @for(author of authors; track author.id) {
  <div
    class="list-line author-line"
    (click)="selectAuthor(author)"
    [class]="{ selected: author === selectedAuthor }"
  >
    <img class="avatar" [img-src]="author.imageSrc" />
    <div class="author-name">
      {{ author.prenom }}
    </div>
    <div class="author-nom">
      {{ author.nom | uppercase }}
    </div>
  </div>
  }
</div>
