@import 'variables';

.columns {
  display: flex;
  gap: 50px;

  .left {
    width: 40%;

    .list {
      height: 500px;
      overflow-y: auto;
    }
  }

  .right {
    text-align: center;
    width: calc(60% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .list {
      height: 300px;
      overflow-y: auto;
      width: 300px;
    }
  }
}
