<div class="book-view page-content">
  <h1 class="page-header">Réservation</h1>
  <div class="columns">
    <div class="left">
      <h3>Sélectionner un livre</h3>
      <div class="list outline" #list>
        <app-book-list [books]="books" [selectedBook]="selectedBook" (selectedBookChange)="selectBook($event)" />
      </div>
    </div>
    <div class="right">
      @if(selectedBook) {
        <h2>{{ selectedBook.libelle }} <i>({{ selectedBook.auteur?.prenom }} {{ selectedBook.auteur?.nom }})</i></h2>
        <h3>Réservations en cours</h3>
        <div class="list outline">
          @if(selectedBook.reservations && selectedBook.reservations.length > 0) {
            <app-reservation-list [reservations]="selectedBook!.reservations!" />
          }
          @else {
            <div class="empty-list">Aucune réservation</div>
          }
        </div>

        <button mat-flat-button color="primary" (click)="addReservation()">Réserver ce livre</button>
      }
      @else {
        <h2 class="empty-list">Aucun livre sélectionné</h2>}
    </div>
  </div>
</div>