.columns {
  display: flex;
  gap: 50px;

  .left {
    width: 40%;

    .list {
      height: 500px;
      overflow-y: auto;
    }
  }

  .right {
    width: calc(60% - 50px);
    text-align: center;

    .full-width {
      width: 80%;
    }

    .list {
      width: 250px;
      height: 200px;
      margin-bottom: 10px;
      overflow: auto;
    }

    .middle-block {
      display: flex;
      gap: 30px;

      > div {
        width: 50%;
      }

      .top-margin {
        margin-top: 40px;
      }
    }

    button {
      margin-top: 10px;
    }
  }
}
