<div class="book-view page-content">
  <h1 class="page-header">Emprunts</h1>
  <div class="columns">
    <div class="left">
      <button mat-flat-button color="primary" (click)="addEmprunt()"><mat-icon fontIcon="add"></mat-icon>Ajouter un emprunt</button>
      <div class="list outline" #list>
        <app-emprunt-list [emprunts]="emprunts" [selectedEmprunt]="selectedEmprunt" (selectedEmpruntChange)="selectEmprunt($event)" />
      </div>
    </div>
    <div class="right">
      @if(selectedEmprunt) {
        <h2>Détails de l'emprunt</h2>
        <mat-form-field class="full-width">
          <mat-label>Livre</mat-label>
          <mat-select [value]="selectedBook?.id" (selectionChange)="selectBook($event)" required [disabled]="!creating">
            @if(creating) {
              @for (book of booksCreation; track book.id) {
                <mat-option [value]="book.id">{{ book.libelle }}</mat-option>
              }
            }
            @else {
              @for (book of books; track book.id) {
                <mat-option [value]="book.id">{{ book.libelle }}</mat-option>
              }
            }
          </mat-select>
        </mat-form-field>

        <div><mat-slide-toggle [(ngModel)]="onReservation">Sur réservation</mat-slide-toggle></div>
        <div class="middle-block">
          <div>
            @if (onReservation) {
              <div class="reservation-list">
                <h3>Réservations en cours</h3>
                <div class="list outline">
                  @if(selectedBook && selectedBook.reservations && selectedBook.reservations.length > 0) {
                    <app-reservation-list [reservations]="selectedBook.reservations!" [(selectedReservation)]="selectedReservation" />
                  }
                  @else {
                    <div class="empty-list">Aucune réservation</div>
                  }
                </div>
              </div>
            }
            @else {
              <div>
                <h3>Utilisateur concerné</h3>
                <mat-form-field>
                  <mat-label>Utilisateur</mat-label>
                  <mat-select [value]="selectedUtilisateur?.id" (selectionChange)="selectUtilisateur($event)" [disabled]="!creating">
                    @for (utilisateur of utilisateurs; track utilisateur.id) {
                      <mat-option [value]="utilisateur.id">{{ utilisateur.prenom }} {{ utilisateur.nom | uppercase }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            }
          </div>
          
          <div class="top-margin">
            <mat-form-field>
              <mat-label>Date d'emprunt</mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="selectedEmprunt.dateInit" disabled>
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Date de fin d'emprunt</mat-label>
              <input matInput [matDatepicker]="picker2" [(ngModel)]="selectedEmprunt.dateFin" [min]="selectedEmprunt.dateInit" [disabled]="!creating">
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            @if(!creating) {
              <mat-form-field>
                <mat-label>Date de retour</mat-label>
                <input matInput [matDatepicker]="picker3" [(ngModel)]="selectedEmprunt.dateRetourEffective" [disabled]="history"
                [min]="selectedEmprunt.dateInit" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            }
          </div>
          
        </div>

        @if(creating || !history) {
          <button mat-flat-button color="primary" (click)="saveEmprunt()">Sauvegarder l'emprunt</button>
        }
      }
      @else {
        <h2 class="empty-list">Aucun emprunt sélectionné</h2>}
    </div>
  </div>
</div>