<div class="emprunt-list">
  @for(emprunt of emprunts; track emprunt.id) {
    <div
      class="list-line emprunt-line"
      (click)="select(emprunt)"
      [class]="{ selected: emprunt === selectedEmprunt, 'finished': emprunt.dateRetourEffective }"
    >
      <div class="top-line">
        <div class="emprunt-libelle">
          {{ emprunt.livre?.libelle }} <span>{{ (emprunt.dateRetourEffective ? ' (retourné)' : '') }}</span>
        </div>
        <div class="emprunt-date">
          du {{ emprunt.dateInit | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div class="bottom-line">
        <div class="name">
          {{ emprunt.utilisateur?.prenom }} {{ emprunt.utilisateur?.nom | uppercase }}
        </div>
        <div class="emprunt-date">
          au {{ (emprunt.dateRetourEffective ? emprunt.dateRetourEffective : emprunt.dateFin) | date: 'dd/MM/yyyy' }}
        </div>
      </div>
    </div>
  }
</div>