.emprunt-line {
  display: block;

  &.finished {
    background-color: #f9bffb;

    &:hover, &.selected {
      background-color: #f2d1f4;
    }
  }

  .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .emprunt-libelle {
      font-weight: bold;
      span {
        font-weight: normal;
        font-style: italic;
      }
    }
  }

  .bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .emprunt-date {
    text-wrap: nowrap;
  }
}