<div class="edit-book">
  <h2>Édition du livre</h2>
  <form class="book-form" [formGroup]="formGroup" (ngSubmit)="saveBook()">
    <app-image-input [(selectedImageSrc)]="imgSrc" type="book" />
    <div>
      <mat-form-field class="full-width">
        <mat-label>libelle</mat-label>
        <input
          required
          matInput
          placeholder="Libelle du livre"
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Année</mat-label>
        <input
          required
          matInput
          placeholder="Année de publication du livre"
          formControlName="annee"
          type="number"
        >
      </mat-form-field>
      <div class="input-line">
        <div (click)="selectAuthor()">
          <div>
            Auteur :
            {{ selectedAuthor ? selectedAuthor.prenom : "non renseigné" }}
            {{ " " }} {{ selectedAuthor ? selectedAuthor.nom : "" }}
          </div>
          <button mat-button>Sélection de l'auteur</button>
        </div>
        <mat-form-field class="full-width">
          <mat-label>Résumé</mat-label>
          <textarea
            matInput
            placeholder="Résumé du livre"
            formControlName="summary"
          ></textarea>
        </mat-form-field>
      </div>
      
      <div class="input-line">
        <mat-form-field>
          <mat-label>Emplacement</mat-label>
          <mat-select formControlName="emplacement">
            @for (emplacement of emplacements; track emplacement.id) {
              <mat-option [value]="emplacement.id">{{ emplacement.emp }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genre">
            @for (genre of genres; track genre.id) {
              <mat-option [value]="genre.id">{{ genre.libelle }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Edition</mat-label>
          <mat-select formControlName="edition">
            @for (edition of editions; track edition.id) {
              <mat-option [value]="edition.id">{{ edition.nomEdition }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!formGroup.valid"
    >
      Sauvegarder
    </button>
  </form>
</div>
