<div class="user-list">
  @for(userUnit of users; track userUnit.id) {
    <div
      class="list-line user-line"
      (click)="select(userUnit)"
      [class]="{ selected: userUnit === selectedUser }"
    >
      <div class="user-name">
        {{ userUnit.prenom }} {{ userUnit.nom }}
      </div>
      <div class="user-nom">
        {{ userUnit.flag_niv }}
      </div>
      <br>
      <div class="user-nom">
        Login : {{ userUnit.login }}
      </div>
    </div>
  }
</div>
