<div class="user-login">
  <h2>Connexion utilisateur</h2>
  <form class="user-form" [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
    <div class="input-line">
      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input required matInput placeholder="Nom d'utilisateur" formControlName="login" />
      </mat-form-field>
    </div>
    <div class="input-line">
      <mat-form-field class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input required matInput placeholder="Mot de passe" formControlName="mot_de_passe" type="password" />
      </mat-form-field>
    </div>

    @if(errorMsg) {
      <div class="error-msg">{{ errorMsg }}</div>
    }

    <button mat-flat-button color="primary" type="submit" [disabled]="!connexionForm.valid">Se connecter</button>

  </form>
</div>
