

.user-login {
  text-align: center;

  .input-line {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
  }

  .error-msg {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

