.container_main {
  position: relative;
  align-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.container_main::before {
  content: "";
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.main-title {
  font-size: 3em;
  color:#151515;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: 2px 2px #ccc;
  padding: 10px
;
}

.main-para {
  font-size: 1.2em;
  color:#151515;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px
;
}
