
<div class="container_main">
  <h1 class="main-title">Bienvenue à la bibliothèque Agilitheque</h1>
  <p class="main-para">C'est un endroit où vous pouvez trouver une variété de livres pour enrichir vos connaissances.</p>
  <!--<button mat-raised-button color="primary">Explorez maintenant</button>-->
</div>
