<p>edit-user works!</p>
<div class="edit-author">
    <h2>Édition Utilisateur</h2>
    <form class="author-form" [formGroup]="modifForm" (ngSubmit)="saveUser()">
      <div class="input-line">
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input
            required
            matInput
            placeholder="Prénom "
            formControlName="prenom"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input
            required
            matInput
            placeholder="Nom "
            formControlName="nom"
          />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Login</mat-label>
            <input
              required
              matInput
              placeholder=" "
              formControlName="login"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input
              matInput
              placeholder=" "
              formControlName="mot_de_passe"
            />
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              @for (role of ['admin', 'user']; track role) {
                <mat-option [value]="role">{{ role }}</mat-option>
              }
            </mat-select>
          </mat-form-field>   

      </div>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!modifForm.valid"
      >
        Sauvegarder
      </button>
    </form>
  </div>
  