<div class="reservation-list">
  @for(reservation of reservations; track reservation.id) {
  <div
    class="list-line reservation-line"
    (click)="select(reservation)"
    [class]="{ selected: reservation === selectedReservation }"
  >
    <div class="line-start">
      <div class="user-firstname">
        {{ reservation.utilisateur.prenom }}
      </div>
      <div class="user-lastname">
        {{ reservation.utilisateur.nom | uppercase }}
      </div>
    </div>
    <div class="date">
      {{ reservation.dateEffective| date: 'dd/MM/yyyy' }}
    </div>
  </div>
  }
</div>