.columns {
    display: flex;
    gap: 50px;
  
    .left {
      width: 30%;
  
      .list {
        height: 500px;
        overflow-y: scroll;
      }
    }
  
    .right {
      width: calc(70% - 50px);
    }
  }