<app-user-list></app-user-list>

<div class="user-view page-content">
  <h1 class="page-header">Gestion des Utlisateurs</h1>
  <div class="columns">
    <div class="left">
      <button mat-flat-button color="primary" (click)="addUser()"><mat-icon fontIcon="add"></mat-icon>Ajouter</button>
      <button mat-flat-button color="warn" (click)="deleteUser()"><mat-icon fontIcon="close"></mat-icon>Supprimer</button>
      <div class="list outline" #list>
          <app-user-list [users]="users" (selectedUserChange)="selectUser($event)"></app-user-list>
      </div>
    </div>
    <div class="right">
      <app-edit-user [user]="selectedUser" (save)="saveUser($event)"></app-edit-user>
    </div>
  </div>
</div>
