<nav class="nav-line">
  <div>
    <a [routerLink]="'/home'" class="glogo">
      <img src="assets/images/agiliteque.jpg" class="logo" alt="logo">
    </a>
  </div>

  <div>
    @if(user) {
      <div class="user-info">
        <span>{{ user.prenom }} {{ user.nom }}</span>
        <span>{{ user.flag_niv }}</span>
      </div>
    }
  </div>

  <div>
    <a mat-button [routerLink]="'/home'" [routerLinkActive]="['is-active']">Accueil</a>
    <a *ngIf="user" mat-button [routerLink]="'/reservations'" [routerLinkActive]="['is-active']">Reservations</a>
    <a *ngIf="user?.flag_niv === 'admin'" mat-button  [routerLink]="'/authors'" [routerLinkActive]="['is-active']">Auteurs</a>
    <a *ngIf="user?.flag_niv === 'admin'" mat-button  [routerLink]="'/books'" [routerLinkActive]="['is-active']">Gestion Livres</a>
    <a *ngIf="user?.flag_niv === 'admin'" mat-button  [routerLink]="'/emprunts'" [routerLinkActive]="['is-active']">Emprunts</a>
    <a *ngIf="user?.flag_niv === 'admin'" mat-button [routerLink]="'/utilisateurs'" [routerLinkActive]="['is-active']">Gestion utilisateurs</a>
    <a *ngIf="!user" mat-button  [routerLink]="'/connexion'" [routerLinkActive]="['is-active']">Connexion</a>
    <a *ngIf="user" mat-button (click)="logout()">Déconnexion</a>
  </div>
</nav>
