@import 'variables';

.nav-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
  }

  .glogo {
    .logo{
      width: 75px;
      height: 75px;
      mix-blend-mode: multiply;
      margin-left: 15px;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    font-style: italic;
  }

  a.is-active {
    color: $primary-color;
    padding: 10px;
  }
}
